*
!.gitignore
!README.md
!package.json
!vite.config.js
!manifest.json


!wp-content/
wp-content/*
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/vieux-moulin-25
!wp-content/themes/vieux-moulin-25/*
!wp-content/themes/vieux-moulin-25/**/*
wp-content/themes/vieux-moulin-25/public/
wp-content/themes/vieux-moulin-25/public/*


/**/.DS_Store


!db-backups
!db-backups/*
!1-media-backup
!1-media-backup/*