*
!.gitignore
!README.md
!package.json
!vite.config.js
!manifest.json

!db_backups
!db_backups/*

!wp-content/
wp-content/*
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/vieux-moulin-25
!wp-content/themes/vieux-moulin-25/*
!wp-content/themes/vieux-moulin-25/**/*
wp-content/themes/vieux-moulin-25/public/*


/**/.DS_Store
