@font-face {
  font-family: "DejaVu Sans";
  src: local("DejaVuSans"),
  url("../fonts/DejaVuSans.ttf") format("opentype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
  url("../fonts/Poppins-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Poppins Bold";
  src: local("Poppins-Bold"),
  url("../fonts/Poppins-Bold.otf") format("opentype");
}