@use "../settings/breakpoints" as b;

.content {
  &__container {
    max-width: var(--number-max-container-width);

    display: flex;
    flex-direction: column;
    gap: var(--number-padding-simple);
    align-items: center;
    padding: 0 var(--number-padding-small);
  }

  &__title {
    font-size: var(--number-fsize-section-title);
    padding: 0 var(--number-padding-simple);
    @include b.md {
      padding: 0 var(--number-padding-medium);
    }
  }

  &__text {
    max-width: var(--number-max-text-width);
  }

  &__subcontainer {
    display: flex;

    &--site, &--article {
      display: grid;
      width: calc(100% - (var(--number-padding-medium)));
    }

    &--site {
      padding: var(--number-padding-small);
      border-radius: var(--number-container-radius);
      background-color: var(--color-main-subframe);

      gap: var(--number-padding-small);
      grid-template-columns: 1fr 1fr;

      max-width: var(--number-max-text-width);
    }

    &--article {
      gap: var(--number-padding-simple);

      justify-items: center;
      max-width: var(--number-max-container-width);

      @include b.md {
        grid-template-columns: 1fr 1fr;
      }
      @include b.lg {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  &__cta {
    padding: var(--number-padding-small) var(--number-padding-medium);
    background-color: var(--color-main-cta-donation);
    text-decoration: none;
    color: var(--color-cta-text);

    &--about {
      background-color: var(--color-main-cta-about-donation);
    }
  }

  &__site {
    //position: relative;
    width: 100%;
    aspect-ratio: var(--number-site-ratio-large);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    border-radius: var(--number-subcontainer-radius);

    &__img {
      transition: width .5s ease-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      //position: absolute;
      //bottom: 0;
      //left: 0;
      margin-top: calc(-1 * var(--number-site-title-height));
      z-index: 1;

      padding: var(--number-padding-simple) 0;
      width: 100%;
      text-align: center;
      background-color: var(--color-site-title-bg);

      font-family: var(--font-fam-cta);
      font-size: var(--number-fsize-cta);
    }

    &__link {
      color: inherit;
      text-decoration: none;
      display: flex;

      &:hover, &:focus {
        .content__site__img {
          width: 120%;
        }
      }
    }
  }

  &__article {
    align-self: stretch;

    justify-content: start;
    display: flex;
    flex-direction: column-reverse;
    gap: var(--number-padding-mini);

    padding: var(--number-padding-small);
    border-radius: var(--number-container-radius);
    background-color: var(--color-main-subframe);

    &__subcontainer {
      display: flex;
      flex-direction: column;
      gap: var(--number-padding-small);
      padding: var(--number-padding-mini);
    }

    &__title {
      font-size: var(--number-fsize-subtitle);
    }

    &__img {
      border-radius: var(--number-subcontainer-radius);
      aspect-ratio: 1.5 / 1;
      width: 100%;
      object-fit: cover;
    }

    &__link {
      color: inherit;
      text-decoration: none;
      display: flex;
      max-width: var(--number-max-article-width);
      align-items: center;
    }
  }
}